name: Tests using distributions with OpenSSL3 binaries

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ "main" ]
    
jobs:

  macos_intel:
    runs-on: macos-13
    strategy:
      fail-fast: false
    steps:
      - name: Install prerequisites
        run: brew install liboqs
      - name: Checkout oqsprovider code
        uses: actions/checkout@v2
      - name: Build oqsprovider
        run: cmake -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl@3 -S . -B _build && cmake --build _build
      - name: Test oqsprovider
        run: ctest --test-dir _build

  linux_intel:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: jammy
            container: ubuntu:latest
    container:
      image: ${{ matrix.container }}
    env:
      MAKE_PARAMS: "-j 18"
    steps:
      - name: Update container
        run: apt update && apt install -y cmake ninja-build gcc libssl-dev git
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Full build
        run: ./scripts/fullbuild.sh
      - name: Test
        run: ./scripts/runtests.sh -V

